<style>
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 50px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.scroll{
  height:100%;
}
.slide-with-image{
  margin-top:-6px
}

.marged-text{
  margin-left:25px;
  margin-right:25px;
  color:white;
}

.logo{
  width:55%;
  margin-top:50px;
  margin-bottom:50px;
}

</style>
<ion-modal-view right-buttons="rightButtons">
  <ion-content>
    <div class="bar bar-positive" style="border-color: #33475D;" >
      <button  class="button button-clear"></button>
      <button  ng-click="startApp()" class="button button-clear button-energized">{{goToApp}}</button>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide style="background-color:#33475D">
        <center><h1 class="marged-text">{{intro_text_one}}</h1></center>
        <div id="logo">
          <img class="logo" src="img/logo.png">
        </div>
        <br/><p class="marged-text">
          {{intro_text_two}}
        </p>
      </ion-slide>
      <ion-slide class="slide-with-image">
        <img style="width:100%;" src="img/intro/intro_00.png">
      </ion-slide>
      <ion-slide class="slide-with-image">
        <img style="width:100%;" src="img/intro/intro_01.png">
      </ion-slide>
      <ion-slide class="slide-with-image">
        <img style="width:100%;" src="img/intro/intro_02.png">
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view >
