<ion-view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
hide-back-button="true">

<ion-content has-header="true" padding="true">
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
      <textarea placeholder="Comments"></textarea>
    </label>
  </div>

</ion-content>

</ion-view>
