<ion-modal-view id="login" title="{{navTitle}}" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
hide-back-button="true">

<ion-content has-header="true">
	<div class="list">
		<center><img class="logo" src="img/logo.png"></img></center>
		<center><form name="loginForm" class="loginForm">
			<label class="loginInput item item-input" >
				<i  class="icon ion-ios7-email-outline placeholder-icon"></i>
				<input ng-model="user.email" type="text" placeholder="&nbsp;Email">
			</label>
			<label class="loginInput item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input ng-model="user.password" type="password" placeholder="&nbsp;Password">
			</label>

			<button type="submit" ng-click="login(user)" class="loginButton button button-dark">Log me in</button>
			<button type="submit" ng-click="loginFB()" class="loginButton button button-facebook">Login with <b>Facebook</b></button></center>
			<center><button class="button button-clear button-stable" ng-click="showPopup('templates/popups/retrievePassword.html', '{{share_it}}', 'email is empty')">
				Password ?
			</button>
			<button class="button button-clear button-energized">
				Create an account
			</button></center>
		</form>
	</div>
	{{error}}
</ion-content>

</ion-modal-view>
