<ion-view title="{{navTitle}}" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">

  <ion-content id="settings" has-header="true" style="padding:10px">
    <ul>
      <div class="item item-divider">
        {{dream_options}}
      </div>
      <li class="item item-toggle setting-panel">
        Auto sharing
        <label class="toggle toggle-positive">
          <input ng-change="test('autoSharing')" ng-model="autoSharing" checked="" type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item" >
        Your dreams
        <span class="badge badge-positive">0</span>
      </li>

      <div class="item item-divider">
        {{feed_options}}
      </div>
      <!-- list of options -->
      <li class="item item-toggle">
        Mature content
        <label class="toggle toggle-positive">
          <input ng-change="test('mature')" ng-model="mature" checked="" type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="tags" type="text" placeholder="tags to ban (separedt by a comma)">
        </label>
        <button ng-click="addTags(tags)" class="button button-small">
          add
        </button>
      </li>
    </ul>
    <!--debug purpose only-->
    <br/>
    <center><button ng-click="clearLocalStorage()" class="button button-assertive">
      CLEAR LOCAL STORAGE
    </button></center>
  </ion-content>

</ion-view>
