<section ng-controller="FeedController as feed">
	
	<!-- add dream button and form-->
	<article class="addDream" >
		<div ng-click="showDreamForm = true" ng-hide="showDreamForm">
			Add a dream
		</div>
		<form class="addDreamForm" name="AddDream" ng-show="showDreamForm" ng-submit="showDreamForm = feed.addDream()">
			<textarea class="dreamTextarea" ng-model="feed.dreamContent.text" type="text" placeholder="Type your dream here" autofocus>
			</textarea>
			<input ng-click="showDreamForm = false" type="submit"/>
		</form>
	</article>

	<!-- repeat dreams from feed -->
	<article ng-repeat="dream in feed.dreams" ng-hide="dream.length">
		<strong> {{ dream.user.m_username }} </strong>
		<!-- delete Dream button -->
		<div class="deleteSomething" ng-click="feed.deleteDream(dream.content.m_id)" ng-hide="showEditDreamForm === $index">x</div>
		<!-- edit Dream button -->
		<div 	class="editSomething" ng-click="showEditDreamForm = feed.toggle($index, showEditDreamForm)" 
				ng-hide="showEditDreamForm === $index">
				i
		</div>
		<!-- edit Dream form -->
		<form 	name="editDream" ng-show="showEditDreamForm === $index" 
				ng-submit="showEditDreamForm = feed.updateDream(dream.content.m_id, $index)">
				<textarea ng-model="dream.content.m_content" type="text" autofocus></textarea>
				<input ng-click="showEditDreamForm = false" type="submit" value="save" />
		</form>
		<p>{{ dream.content.m_content }}</p>
		<!-- tags div -->
		<div class="tags" ng-hide="!dream.hashtags.length">
			<!-- repeat tags of the dream -->
			<span 	ng-repeat="tag in dream.hashtags"
					ng-mouseenter="showActionTag = true" 
					ng-mouseleave="showActionTag = false">
				<span ng-hide="showEditTagForm === $index">{{ tag.m_content }}</span>
				<span 	ng-hide="!showActionTag || showEditTagForm === $index"
						ng-click="showEditTagForm = feed.toggle($index, showEditTagForm)"
						class="editTag">
						i					
				</span>
					<!-- delete tag input -->
				<span 	ng-hide="!showActionTag || showEditTagForm === $index" 
						ng-click="feed.deleteTag(tag.m_id)" 
						class="deleteTag">
						x
				</span>		
				<!-- edit tag form -->
				<form 	name="editTag" ng-show="showEditTagForm === $index" 
						ng-submit="showEditTagForm = feed.updateTag(tag.m_id, dream.content.m_id, $index, $parent.$index)">
					<input ng-model="tag.m_content" type="text" autofocus/>
				</form>
			</span>
			<!-- add tag button -->
			<div class="addTag" ng-click="showTagForm = feed.toggle($index, showTagForm)" ng-hide="showTagForm === $index">+</div>
			<!-- render partial view add_tag_form.hmtl -->
			<ng-include src="'./views/add_tag_form.html'"></ng-include>
		</div>

		<!-- add tag button that shows when there is no tags -->
		<div ng-hide="dream.hashtags.length">
			<div class="addComment" ng-click="showTagForm = feed.toggle($index, showTagForm)" ng-hide="showTagForm === $index">
				Add a tag
			</div>
			<!-- render partial view add_tag_form.hmtl -->
			<ng-include src="'./views/add_tag_form.html'"></ng-include>
		</div>

		<!-- comments div -->
		<div class="comments" ng-hide="!dream.comments.length">
			<!-- repeat comments of the dream -->
			<div class="comment" ng-repeat="comment in dream.comments">
				{{ comment.m_content }}
				<!-- delete comment button -->
				<div class="deleteSomething" ng-click="feed.deleteComm(comment.m_id)">x</div>
				<!-- edit comment button -->
				<div 	class="editSomething" ng-click="showEditCommentForm = feed.toggle($index, showEditCommentForm)" 
						ng-hide="showEditCommentForm === $index">
				i
				</div>
				<!-- edit comment form -->
				<form 	name="editComment" ng-show="showEditCommentForm === $index" 
						ng-submit="showEditCommentForm = feed.updateComm(comment.m_id, dream.content.m_id, $index, $parent.$index)">
					<textarea ng-model="comment.m_content" type="text" autofocus></textarea>
					<input ng-click="showEditCommentForm = false" type="submit" value="save" />
				</form>
			</div>
			<!-- render partial view add_comm.html -->
			<ng-include src="'./views/add_comm.html'"></ng-include>
		</div>

		<!-- add comment div that shows when there is no tags -->
		<div ng-hide="dream.comments.length">	
			<!-- render partial view add_comm.html -->
			<ng-include src="'./views/add_comm.html'"></ng-include>
		</div>

	</article>
</section>