@font-face {
    font-family: "Gobold";
    src: url('../fonts/GoboldExtra.ttf');
}

header {
	background-color: #354A5F;
	padding-bottom: 5px;
	box-shadow:1px 1px 1px #24394E;
}

#HeaderText {
/*	position: fixed; */
/*	top: 0;*/
	font-family: "Gobold", verdana;
	color: #754747;
	text-shadow: -5px 5px 0px #1C2B3C;
}

#HeaderList {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

/*li {
	display: inline;
}*/

#HeaderLogo {
	margin-right: 10px;
	background-color: #354A5F;
}

